body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Sans-serif, Verdana, 'Trebuchet MS';
    font-size: 12px;
}
a { /* link colour */
    color: #404040;
}
a:visited { /* visited link colour */
    color: #505050;
}
div {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000000;
    text-indent: -60px;
    padding-left: 30px;
}
ul{
    list-style: none;
}
.container {
    /*padding-left: 0;*/
    /*text-indent: 0;*/
}
.unindented {
    padding-left: 0;
    text-indent: 0;
}
.acronLink {
    color: #202060;
}
.comment { /* transcript commentary item */
    padding-left: 40px;
    text-indent: -0px;
    color: #000080;
}
.comment::before { /* add square brackets before and after each commentary statement */
    content: "["
}
.comment::after {
    content: "]"
}
.attribution {
    font-style: italic;
    color: saddlebrown;
}
.pao {
    /*padding-left: 40px;*/
    color: #006000;
}
/*.pao::before {*/
    /*font-weight: bold;*/
    /*content: "Public Affairs Officer - "*/
/*}*/
.onboard {
    color: #660000;
}
.onboard::after {
    content: " (onboard) "
}

.photo_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.photo {
    padding: 10px;
    background-color: #ECECEC;
}

.photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.caption {
    font-size: 90%;
    text-indent: 0px;
    padding-left: 0px;
}