/.idea
/_Website/_webroot/mission_images
/_AFJ/_webroot/segments
/_AFJ/_webroot/TOC.html
**/flickr
/_Website/assets/mission_images_lightroom/
**/.DS_Store
**/Thumbs.db
**/Adobe Premiere Pro Auto-Save
app17.sublime-workspace
app17.sublime-project
