
<section class="app">
  <!-- <header> -->
  
  <?php include APP_ROOT.'src/components/title/title.html' ?>

    <!-- <div class="monitor">
    <table id="textScroller" width="100%"></table> -->
      <!-- navigator -->
      <!-- <div id="navigator" class="navigator-wrapper">
        <canvas id="myCanvas" resize keepalive="true"></canvas>
      </div> -->

    <!-- </div> -->

  <!-- </header> -->

  <!-- <div class="body"> -->

    <!-- <div class="video-block"> -->

  <?php include APP_ROOT.'src/components/video/video.html' ?>
      

      <?php //include "../components/video_controls.html" ?>

      <?php //include "../components/text.html" ?>


    <!-- </div> --> <!-- video-block -->

  
      <?php //include "../components/photo_browser.html" ?>

    <!-- </div> -->

</section>
