*{margin:0;}

#player {
    background-color: #eee;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

section{
    margin:0 10px;
}

body, td, th, input, textarea, pre, p, ul {
    font-family:  Arial, Sans-serif, Verdana, 'Trebuchet MS', 'Times New Roman';
    font-size: 12px; /* x-small, small */
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-family: verdana, arial, sans-serif;
    color: #333;
    background: none;
    font-weight: bold;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .17em;
    border: none;
}

h1 { font-size: 180%; }
h2 { font-size: 133%; }
h3 { font-size: 125%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

h1, h2 { border-bottom: 1px solid #aaa; }

h3, h4, h5, h6 { font-weight: bold; }

li h1, li h2, li h3, li h4, li h5, li h6 { border: none; }

ul {
    line-height: 1.4em;
    list-style-type: square;
    margin: .2em 0 .2em 1.3em;
    padding: 0;
}
ul.TOC1 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
ul.TOC2 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
ul.TOC3 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
li:hover {
    background-color: #EEEEEE;
}

.TOCTitle {color: black; font-weight: bold;}

.title{
    font-weight: bold;
    font-size: 140%;
    float: left;
}
.titleRight{
    font-size: 125%;
    float: right;
}

#tabs-right {
    background: transparent;
    border: none;

}
#tabs-right .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs-right .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#tabs-right .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#tabs-right .ui-tabs-nav .ui-state-default a {
    /*color: #c0c0c0;*/
    color: #000000;
}
#tabs-right .ui-tabs-nav .ui-state-active a {
    /*color: #459e00;*/
    color: #006400;
    /*color: black;*/
}
#tabs-left {
    background: transparent;
    border: none;
    overflow-y:hidden;
    overflow-x:hidden;

}
#tabs-left .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs-left .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#tabs-left .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#tabs-left .ui-tabs-nav .ui-state-default a {
    /*color: #c0c0c0;*/
    color: #000000;
}
#tabs-left .ui-tabs-nav .ui-state-active a {
    color: #006400;
    /*color: black;*/
}

.iFrameClass {
    border: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 1px;
}
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#photodiv {
    position:relative;
    display:inline-block;
    overflow:hidden;
    float: left;
}

#photodiv img {
    width: auto;
    height: 100%;
}

#photoDescription {
    border: black;
}

.photoTable {
    margin:0px;padding:0px;
    border:1px solid #000000;
    border-collapse: collapse;
}
.photoTable td{
    vertical-align:middle;
    border: 1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:10px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}

table, th, td {
    border: none;
    vertical-align: top;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: .4em 0 .5em 0;
    line-height: 1.5em;
}
p img {
    margin: 0;
}

.missionTimes {
    font-size: 100%;
    text-align: center;
}
.historicalDate {
    font-weight: bold;
    font-size: 120%;
}
.historicalTime {
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 20px;
}

#missionTime {
    padding-bottom: 0px;
}
#timer {
    font-weight: normal;
    font-size: 100%;
}

.utterancetable {border: 2px; padding: 2px; border-collapse: collapse;}
tr.utterance  {
    cursor: pointer;
}
tr.utterance:hover {
    background-color: #EEEEEE;
}
tr.utterance > td
{
    padding: 3px;
}

.commentarytable {border: 2px; padding: 2px; border-collapse: collapse;}
tr.commentary:hover {
    background-color: #EEEEEE;
}
tr.commentary > td
{
    padding: 3px;
}

.oralHistory    {margin-top: 5px;}
.spokenwords{font-weight:normal;}
.afjdef		{color: black;}
.afjget		{color: black; font-weight:bold; float:left; margin-right:10px; width:50px; text-align:right; clear:left;}
.afjgeted   {color: gray;}
.afjpao    	{color: #006400;}
.afjtec		{color: black;}
.afjwho		{font-weight:bold; text-align:right;}
.afjother	{color: #2B547E;}
.afjed		{
    color: #2B547E;
    padding: 3px;
    padding-bottom: 10px;
}
.afjedwords {
    color: #2B547E;
}
.afjedwords::before	{content: "[ "}
.afjedwords::after	{content: " ]"}

.afjob     	{color: #660000; margin-left:60px}
.afjdb		{color: SaddleBrown; margin-left:70px}
.afjalt		{color: DimGray; margin-left:70px; margin-top:-10px;}

.afjphoto	{color: red; margin-left:70px}

.afjsrc	{
    font-style:italic;
    color: SaddleBrown;
}

.isloading-wrapper .isloading-right {
    margin-left: 10px;
}

.isloading-overlay {
    position: relative;
    text-align: center;
}

.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

.shareicon {
    width:20px;
    height:20px;
    position:absolute;
    opacity:0.7;
}