*{margin:0;}

#player {
    background-color: #000000;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

body, td, th, input, textarea, pre, p, ul {
    font-family: Arial;
    font-size: 12px;
    /*color: #222;*/
    color: #999999;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: .4em 0 .5em 0;
    line-height: 1.5em;
}
p img {
    margin: 0;
}

/* ----------------- TOC -----------------*/

.TOC_container {
    background-color: #000000;
    color: #999999;
}
.TOC_item {
    font-weight: bold;
}
ul {
    line-height: 1.4em;
    list-style-type: square;
    margin: .2em 0 .2em 1.3em;
    padding: 0;
}
ul.TOC1 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
ul.TOC2 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
ul.TOC3 {
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
li:hover {
    /*background-color: #B5B4A4;*/
    background-color: #222222;
}

/* ----------------- transcript -----------------*/
#utteranceDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
.utteranceTable {
    border: 2px;
    padding: 2px;
    border-collapse: collapse;
    /*background-color: #DEDDD1;*/
    background-color: #000000;
}
.utterance  {
    cursor: pointer;
    vertical-align: top;
}
.utterance:hover {
    /*background-color: #B5B4A4;*/
    background-color: #222222;
}
.utterance > td {
    padding: 2px;
}

.utteranceItem {
    padding: 2px;
}

/* ----------------- commentary -----------------*/
.commentarytable {border: 2px; padding: 2px; border-collapse: collapse;}
tr.commentary:hover {
    background-color: #222222;
}
tr.commentary {
    cursor: pointer;
    vertical-align: top;
}
tr.commentary > td {
    padding: 2px;
}

.spokenwords{font-weight:normal;}
.afjdef		{color: black;}
.afjget		{font-weight:bold; float:left; margin-right:10px; width:50px; text-align:right; clear:left;}
.afjgeted   {color: gray;}
.afjpao    	{color: #006400;}
.afjtec		{color: black;}
.afjwho		{font-weight:bold; text-align:right;}
.afjother	{color: #2B547E;}
.afjed		{
    color: #2B547E;
    padding: 3px;
    padding-bottom: 10px;
}
.afjedwords {
    color: #2B547E;
}
.afjedwords::before	{content: "[ "}
.afjedwords::after	{content: " ]"}

.afjob     	{color: #660000; margin-left:60px}
.afjdb		{color: SaddleBrown; margin-left:70px}
.afjalt		{color: DimGray; margin-left:70px; margin-top:-10px;}

.afjphoto	{color: red; margin-left:70px}

.afjsrc	{
    font-style:italic;
    color: SaddleBrown;
}

/* ----------------- page top -----------------*/
.title {
    font-weight: bold;
    font-size: 140%;
    color: #fff;
    text-align: center;
}

.outer-north {
    overflow: hidden;
    /*background-color: #DEDDD1;*/
    background-color: #000000;
}

.titleSubtitle {
    font-size: 85%;
    text-align: left;
}
.titleTextRight a{
    color: #999999;
}

.headerBlock {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: 130px;
}

.headerLeft {
    width: auto;
}
.headerMiddle {
    width: auto;
    font-size: 100%;
    text-align: center;
    top: 0px;
    left: 100px;
}
.headerRight {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: auto;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

canvas[resize] {
    width: 100%;
    height: 130px;
}

.imageBlock {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.imageLeft {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: auto;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.imageLeft img {
    width: 100%;
    height: auto;
}
.imageRight {
    width: 180px;
}

#photodiv {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.photodivimage {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.photodivcaption {
    font-size:15px;
    font-family: Arial;
    font-weight:bold;
    color: #999999;
}
.photoTable {
    width: 180px;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    font-size:12px;
    font-family: Arial;
    font-weight:normal;
}
.photoTable td {
    padding:5px;
    border: solid #c0c0c0;
    border-width: 1px 1px 1px 1px;
    vertical-align:middle;
    color: #999999;
}


.historicalDate {
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    padding-bottom: 0px;
}
.historicalTime {
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 5px;
    color: #fff;
}
#missionTime {
    padding-bottom: 2px;
}
#timer {
    font-weight: normal;
    font-size: 100%;
}
.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #555555;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}
.btn:hover {
    background: #509429;
    text-decoration: none;
}
/* ----------------- photo pane -----------------*/
.outer-center {
    background-color: #000000;
}

/* ----------------- tab system -----------------*/

.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.ui-layout-pane {
    padding: 0;
    border: 0;
}

#tabs-left {
    border: none;
    overflow-y:hidden;
    overflow-x:hidden;
    background-color: #000000;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
#tabs-left .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
#tabs-left .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#tabs-left .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#tabs-left .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
    /*color: #000000;*/
}
#tabs-left .ui-tabs-nav .ui-state-active a {
    color: #00bc00;
    /*color: black;*/
}

.iFrameClass {
    border: 0;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.isloading-wrapper .isloading-right {
    margin-left: 10px;
}

.isloading-overlay {
    position: relative;
    text-align: center;
}

.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

.shareicon {
    width:20px;
    height:20px;
    position:absolute;
    opacity:0.7;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    /*background: #c0c0c0;*/
    background: #0f0f0f;
    /*border: 0px none #ff2c20;*/
    border: 1px solid white;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    /*background: #c0c0c0;*/
    /*background: #000000;*/
}
::-webkit-scrollbar-thumb:active {
    /*background: #c0c0c0;*/
    /*background: #000000;*/
}
::-webkit-scrollbar-track {
    background: #000000;
    /*border: 1px solid #c0c0c0;*/
    border: 1px solid #0f0f0f;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    /*background: #2e2e2e;*/
    /*background: #000000;*/
}
::-webkit-scrollbar-track:active {
    /*background: #717171;*/
    /*background: #0f0f0f;*/
}
::-webkit-scrollbar-corner {
    background: transparent;
}