
<div class="tabs-wrapper" style="display: flex; align-items: stretch;">
  <div class="button-row" style="flex: 3;">
    <a id="transcriptTab" class="splash-btn content-tab" title="Every word spoken on the mission"><SPAN>Transcript</SPAN></a>
    <a id="tocTab" class="splash-btn content-tab" title="Points of interest throughout the mission"><SPAN>Guided Tour</SPAN></a>
    <a id="commentaryTab" class="splash-btn content-tab" title="Description of events and post-mission interviews with the crew"><SPAN>Commentary</SPAN></a>
  </div>

  <div style="flex: 1; display: flex;
              flex-direction: column;
              align-items: stretch;
              align-content: stretch;">
    <div class="button-row small" style="flex: 1; flex-basis: 0; min-height: 20px;">
      <a class="splash-btn subdued entypo entypo-play" style="max-height:20px;" id="playPauseBtn" title="Play/Pause"><span class="sr-only">Play/Pause</span></a>
      <!--<a class="splash-btn activated entypo entypo-back-in-time" style="max-height:20px;" id="realtimeBtn" title="Anniversary: Sync to exactly 43 years ago"><span class="sr-only">Anniversary: Sync to exactly 43 years ago</span></a>-->
        <a class="splash-btn subdued entypo entypo-back-in-time" style="max-height:20px;" id="realtimeBtn" title="Sync to today's clock"><span class="sr-only">Sync to today's clock</span></a>
      <a class="splash-btn primary entypo entypo-help-circled" style="max-height:20px;" id="aboutBtn" title="About Apollo17.org"><span class="sr-only">Info about this website</span></a>
    </div>
    <div class="button-row small" style="flex: 1; flex-basis: 0; min-height: 20px;">
       <a class="splash-btn subdued entypo entypo-mute" style="max-height:20px;" id="soundBtn" title="Sound On/Off"><span class="sr-only">Sound On/Off</span></a>
       <a class="splash-btn subdued entypo entypo-resize-full fullscreenBtn" style="max-height:20px;" title="Toggle Fullscreen"><span class="sr-only">Fullscreen</span></a>
       <a class="splash-btn primary" style="max-height:20px;" id="shareBtn" title="Share This Moment">
         <div class="share-button-wrapper">
           <div class="entypo share-button sharer-0"></div>
         </div>
       </a>
    </div>
  </div>
</div>
