<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
    <!-- Filename: 01_day01_launch.htm -->
    <script id="_fed_an_js_tag" type="text/javascript" src="/gacommon/js/Federated-Analytics.js?agency=NASA"></script>
    <title>Apollo 17 Flight Journal - Day 1: Launch and ascent to Earth orbit</title>
    <style type="text/css" media="screen,projection"></style>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
</head>
<body>
    <div class="container" align="center"><img SRC="pics/afjlogo.gif" alt="Apollo Flight Journal logo" height="90" width="450"></div>
    <div class="container" align="center">
        <table cellpadding="" width="80%" style="padding-top: 20px;">
            <tr>
                <td width="35%" align=center><a href="index.htm"><img src="pics/ind.gif" width="62" height="34" alt="Index"></a></td>
                <td width="31%" align=center><a href="02_day01_earth_orbit_tli.htm"><img src="pics/next.gif" width="62" height="34" alt="Next"></a></td>
            </tr>
            <tr>
                <td align=center><a href="index.htm">Journal Home Page</a></td>
                <td align=center><a href="02_day01_earth_orbit_tli.htm">Day 1: Earth Orbit and Translunar Injection</a></td>
            </tr>
        </table>
    </div>
    <h1>Apollo 17</h1>
    <h2>Day 1: Launch and ascent to Earth orbit</h2>
    <h5>Corrected Transcript and Commentary Copyright &copy; 2017 by W. David Woods and Ben Feist. All rights reserved.</h5>
    <div class="unindented">Last updated 2017-01-22</div>
    <div class="container">
