    </div>
    <div align="center">
        <table cellpadding="" width="80%" style="padding-top: 20px;">
            <tr>
                <td width="35%" align=center><a href="index.htm"><img src="pics/ind.gif" width="62" height="34" alt="Index"></a></td>
                <td width="31%" align=center><a href="02_day01_earth_orbit_tli.htm"><img src="pics/next.gif" width="62" height="34" alt="Next"></a></td>
            </tr>
            <tr>
                <td align=center><a href="index.htm">Journal Home Page</a></td>
                <td align=center><a href="02_day01_earth_orbit_tli.htm">Day 1: Earth Orbit and Translunar Injection</a></td>
            </tr>
        </table>
    </div>

    <!--  ADA TEAM 2001  -->
    </body>
</html>