<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />

	<title>All Utterances</title>
	<meta name="robots" content="index,follow" />
	<style type="text/css" media="screen,projection"></style>
	<link rel="stylesheet" type="text/css" href="../styles.css" />

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script language="javascript" type="text/javascript">
        window.onload = function() {
            //add an onclick function to all utterances. function calls parent of his iFrame to seek video to that time.
            $( "tr.utterance" ).click(function(){
                parent.seekToTime($(this).attr('id'));
            });
        }
    </script>
</head>

<body class="">
    <div id="container">
