#if (@attribution)
    #if (@words)
            <tr class="commentary">
                <td></td>
                <td class="afjwho afjed">@who</td>
                <td class="spokenwords afjedwords">@words  --@attribution</td>
            </tr>
    #end
#else
    #if (@who == 'PAO')
            <tr class="utterance" id="@timeid">
                <td class="afjget afjpao">@timestamp</td>
                <td class="afjwho afjpao">@who</td>
                <td class="spokenwords afjpao">@words</td>
            </tr>
    #else
            <tr class="utterance" id="@timeid">
                <td class="afjget">@timestamp</td>
                <td class="afjwho">@who</td>
                <td class="spokenwords">@words</td>
            </tr>
    #end

#end