<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../styles.css" />
</head>
<body>
    <div class="imageBlock">
        <div class="imageLeft" onclick="window.open('http://apollo17.org/mission_images/img/@filename', '_blank');" style="
            background-image: url('http://apollo17.org/mission_images/img/@filename');
            ">
        </div>
        <div class="imageRight">
            <table class="photoTable">
                <tr>
                    <td style="text-align: right;">
                        Time Taken<BR>(Approx. GET)
                    </td>
                    <td>
                        @timestamp
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Magazine
                    </td>
                    <td>
                        @mag_number / @mag_code
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Photo Number
                    </td>
                    <td style="word-break: break-all;">
                        @photo_num
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Photographer
                    </td>
                    <td>
                        @photographer
                    </td>
                </tr>
            </table>
            <div class="photodivcaption">@description</div>
        </div>
    </div>
</body>
</html>