<table class="photoTable">
    <tr>
        <td>
            Time Taken (GET)
        </td>
        <td>
            @timestamp
        </td>
    </tr>
    <tr>
        <td>
            Photo Number
        </td>
        <td>
            @photo_num
        </td>
    </tr>
    <tr>
        <td>
            Magazine
        </td>
        <td>
            @magazine
        </td>
    </tr>
    <tr>
        <td>
            Photographer
        </td>
        <td>
            @photographer
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @description
        </td>
    </tr>
</table>