<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../styles.css" />
</head>
<body>
    <div>
        <div>
            <a href="http://apollo17.org/mission_images/img/@filename" target="_blank">
                <img src="http://apollo17.org/mission_images/img/@filename" class="photodivimage"/>
            </a>
        </div>
        <div class="photodivcaption">@description</div>
        <table class="photoTable">
            <tr>
                <td style="text-align: right;">
                    Time Taken<BR>(Approx. GET)
                </td>
                <td>
                    @timestamp
                </td>
                <td style="text-align: right;">
                    Magazine
                </td>
                <td>
                    @mag_number / @mag_code
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    Photo Number
                </td>
                <td>
                    @photo_num
                </td>
                <td style="text-align: right;">
                    Photographer
                </td>
                <td>
                    @photographer
                </td>
            </tr>
        </table>
    </div>
</body>
</html>